@import "tailwindcss";

@theme {
  --color-primary: #7e4cc5;
  --color-secondary: #ae81ec;
  --color-accent: #8b3cfb;
}


  @media (min-width: 768px) {
    .hero {
      background-position: 50% 20%; /* or 50% 20%, etc. */
    }
  }